@page "/auth/credits"
@model Roblox.Website.Pages.Credits

@{
    Layout = "Shared/_Layout";
}

@section MetaTags {
    <title>Credits</title>
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <h1>Credits</h1>
            <span class="fw-bold">floatzel</span>     </p> - Original owner of Economy Simulator.<p></p>

            <span class="fw-bold">tenshi/temmie</span>     </p> - Old Co-Owner of the original Economy Simulator.<p></p>
           <span class="fw-bold">Pixify/temmie</span>     </p> - Owner of the current revival.<p></p>
        </div>
    </div>
</div>